JIRA_API_TOKEN=ATATT3xFfGF0-F2gZe6K60_aSh3eYzhoK7yDyLDS-6xmRpvNOeEGBOzJnYEd_I8tuxSqeYUWJqgNzNgkPsoDmS7dAclCg2moaw05t6HNIlp0n6eEQH4mSc7zKJEHX9n3bh9-LwCrV3R1KrndPI5frW-4hdr6i1B-VBqeiMTDzr9D-DKyjm2fbkw=A4CAB1EE
JIRA_AUTH_TYPE=bearer
JIRA_URL=https://zennor.atlassian.net
JIRA_USERNAME=hendry@iki.fi
