name: Sync to Confluence

on:
    push:
    workflow_dispatch:

jobs:
    sync:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6

            - name: Sync Markdown to Confluence
              uses: Telefonica/markdown-confluence-sync-action@v2.5.0
              # https://github.com/Telefonica/markdown-confluence-sync-action?tab=readme-ov-file#inputs
              with:
                  confluence-url: https://zennor.atlassian.net/wiki/
                  confluence-space-key: ~557058c64a9e95445742e185ecfe0af607e6ad
                  confluence-root-page-id: "65876"
                  confluence-authentication: |
                      {
                          "basic": {
                              "email": "${{ secrets.CONFLUENCE_EMAIL }}",
                              "apiToken": "${{ secrets.CONFLUENCE_PAT }}"
                          }
                      }

                  mode: tree

                  # Source directory containing markdown files
                  docs-dir: "./docs"
